@use "../global";

.positionis_img {
  display: flex;
  gap: 30px;
  padding-top: 170px;
  transition: 1;

  .positionis-name {
    max-width: 597px;
    margin: 0 auto;
    transition: 5s;

    h1 {
      color: #1D3444;
      font-family: "Poppins";
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 72px;
      padding-top: 70px;
    }

    p {
      color: #5B5B5B;
      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .positionis-image {
    max-width: 653px;
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.positionis-name a{
	position: relative;
	padding: 20px 40px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
	overflow: hidden;
	border-radius: 30px;
}
.positionis-name a span{
	position: relative;
	color: #fff;
  font-size: 14px;
	font-family: Arial;
	letter-spacing: px;
	z-index: 1;
}
.positionis-name a .liquid{
	position: absolute;
	top: -80px;
	left: 0;
	width: 200px;
	height: 200px;
	background: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
	transition: .5s;
}
.positionis-name a .liquid::after,
.positionis-name a .liquid::before{
	content: '';
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
	background: #000;
}
.positionis-name a .liquid::before{
	border-radius: 45%;
	background: rgba(20, 20, 20, 1);
	animation: animate 5s linear infinite;
}
.positionis-name a .liquid::after{
	border-radius: 40%;
	background: rgba(20, 20, 20, .5);
	animation: animate 10s linear infinite;
}
.positionis-name a:hover .liquid{
	top: -120px;
}
@keyframes animate{
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

.section-car {
  padding-top: 150px;
  transition: 1s;

  h1 {
    color: #0D1317;
    font-family: "Poppins";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1.44px;
  }

  .careers-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 64px;

    .card-section {
      width: 200px;
      flex: 1 0 300px;
      height: 181px;
      flex-shrink: 0;
      border-radius: 20px;
      background: rgba(193, 228, 255, 0.30);
      transition: 1s;
      &:hover {
        background: rgb(81, 180, 255);
      }

      h2 {
        color: #0D1317;
        font-family: "Poppins";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.72px;
        padding-top: 32px;
        padding-left: 40px;
      }

      h3 {
        color: #394149;
        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        opacity: 0.6000000238418579;
        padding-top: 8px;
        padding-left: 40px;
        padding-bottom: 22px;
      }

      a {
        color: #F58A07;
        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 106.5%;
        padding-left: 40px;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1000px) {
  .positionis_img {
    display: grid;
    gap: 30px;
    padding-top: 100px;
    text-align: center;
  }

  .positionis_img .positionis-name h1 {
    color: #1d3444;
    font-family: "Poppins";
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    padding-top: 70px;
  }
}

@media (max-width: 767px) {
  .section-car h1 {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .positionis_img .positionis-name {
    h1 {
      color: #1d3444;
      font-family: "Poppins";
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      padding-top: 70px;
    }

    p {
      color: #5B5B5B;
      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

}

@media (max-width: 450px) {
  .section-car h1 {
    font-size: 25px;
  }

  .section-car .card-section {
    width: 300px;
    height: 181px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(193, 228, 255, 0.30);
  }
}