@use "../global";

.solution {
  padding-top: 108px;
  .solution__container {
    position: relative;
    display: flex;
    .solution-aside {
      h1 {
        margin-top: 130px;
        max-width: 618px;
        color: #1d3444;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 112.5% */
        letter-spacing: -1.92px;
      }
      p {
        margin-top: 24px;
        max-width: 510px;
        color: #5b5b5b;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
      }
      button {
        margin-top: 32px;
        padding: 18px 32px;
        border-radius: 27px;
        background: #f58a07;
        color: #fff;
        border: 0px;
        &:hover {
          background: transparent;
          color: #1d3444;
          box-shadow: 0 0 5px #f58a07;
        }
      }
    }
    .solution-bside {
      margin: 58px 0px 128px;
      position: relative;
      max-width: 616px;
      height: 650px;
      // overflow: hidden
      img {
        width: 100%;
      }
      .solution-bside-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #f58a07;
          opacity: 0.6;
          border-radius: 19px;
          transform: scale(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: right;
        }
      }
      &:hover .solution-bside-content::before {
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
      }
    }
    .circle {
      img {
        position: absolute;
        top: 129px;
        right: 20px;
        width: 75px;
        height: 75px;
        z-index: 99999999;
        animation: logoRotate 7.5s linear infinite;
        -webkit-animation: logoRotate 7.5s linear infinite;
      }
    }
  }
}
@media (max-width: 1190px) {
  .solution__container {
    flex-direction: column;
    text-align: center;
    h1,
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.features {
  .features__container {
    display: flex;
    justify-content: space-between;
    .features-aside {
      margin-bottom: 128px;
      position: relative;
      max-width: 620px;
      height: 650px;
      // overflow: hidden
      img {
        width: 100%;
      }
      .features-aside-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #f58a07;
          opacity: 0.6;
          border-radius: 19px;
          transform: scale(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: right;
        }
      }
      &:hover .features-aside-content::before {
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
      }
    }
  }
  .features_bside {
    h2 {
      margin-top: 156px;
      color: #0d1317;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px; /* 116.667% */
      letter-spacing: -1.44px;
    }
    p {
      max-width: 583px;
      color: #5b5b5b;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px; /* 166.667% */
    }
    ul {
      list-style-type: disc;
      li {
        margin-bottom: 8px;
        color: #5b5b5b;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
  .features__section {
    display: flex;
    justify-content: space-between;
    .features__section-aside {
      h2 {
        margin-top: 150px;
        color: #0d1317;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; /* 116.667% */
        letter-spacing: -1.44px;
      }
      p {
        margin-top: 24px;
        max-width: 580px;
        color: #5b5b5b;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
      }
    }
    .features__section-bside {
      margin-bottom: 128px;
      position: relative;
      // overflow: hidden;
      img {
        max-width: 100%;
      }
      .section-bside-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #f58a07;
          opacity: 0.6;
          border-radius: 19px;
          transform: scale(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: right;
        }
      }
      &:hover .section-bside-content::before {
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        transform-origin: left;
      }
    }
    ul {
      list-style-type: none;
      li {
        color: #5b5b5b;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
      }
    }
  }
}
@media (max-width: 1200px) {
  .features__section {
    flex-direction: column;
    text-align: center;
    .features__section-aside {
      p {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 1285px) {
  .features__container {
    flex-direction: column;
    text-align: center;
    .features_Bside{
    ul{
      list-style-type:none;
    }
    }
    .features_bside {
      // margin-top: 40px;
      margin-bottom: 56px;
      h2 {
        margin-top: 20px;
      }
      p {
        margin-left: auto;
        margin-right: auto;
      }
      ul {
        list-style-type: none;
      }
    }
  }
}

.working {
  .working__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .working__aside {
      h2 {
        max-width: 550px;
        color: #0d1317;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; /* 116.667% */
        letter-spacing: -1.44px;
        text-transform: capitalize;
      }
      p {
        margin-top: 24px;
        max-width: 550px;
        color: #5b5b5b;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
      }
      .working__bottom {
        margin-top: 40px;
        display: flex;
        gap: 24px;
        align-items: center;
        .working__text {
          h4 {
            color: #063255;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 171%; /* 41.04px */
          }
          h3 {
            color: #f58a07;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 171%; /* 30.78px */
          }
        }
      }
    }
    .working__bside {
      margin-bottom: 128px;
    }
  }
}

@media (max-width: 1200px) {
  .working__container {
    margin-top: 60px;
    flex-direction: column;
    text-align: center;
    .working__aside{
      h2, p{
        margin-left: auto;
        margin-right: auto;
        .working__bottom{
          justify-content: center;
        }
      }
    }
  }
}
