@use "functions" as func;
@use "variables" as var;

@mixin container($padding: 320) {
  $mb-padding: 20;
  max-width: func.container(1920, $padding, $mb-padding);
  padding-left: $mb-padding + px;
  padding-right: $mb-padding + px;
  margin-left: auto;
  margin-right: auto;
}

@mixin btn-header {
  padding: 17px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  color: #f58a07;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  transition: 0.6s;
  &:hover {
    background: #f58a07;
  }
}
@mixin btn-header {
  padding: 16px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  color: #f58a07;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  transition: 0.6s;
  &:hover {
    background: transparent;
    color: #394149;
  }
}

@mixin btn-premary {
  padding: 18px 32px;
  border-radius: 27px;
  background: transparent;
    color: #1d3444;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  transition: 0.6s;
  &:hover {
    background: #f58a07;
    color: #fff;
  }
}

@mixin h3-title {
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}

@mixin h5-title {
  color: #0d1317;
  font-family: 'Poppins';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
}

@mixin p-18 {
  color: #5b5b5b;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}


@mixin p-16 {
  color: #5b5b5b;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
